body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.subtext,
.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.title-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.bottom-row button {
    display: flex;
    flex-direction: column;
    justify-self: start;
    background-color: #3882f6;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container img {
    width: auto;
    height: 250px;
    border: 2px solid #1f2937;
}

.quote {
    background-color: #e5e7eb;
    margin-top: auto;
    height: 200px;
}

h3 {
    font-size: 36px;
    font-style: light-italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: flex-end;
    font-weight: lighter;
}

.action {
    height: 100px;
    margin-top: 100px;
}

.footer {
    height: 100px;
    background-color: #1f2937;
    margin-top: 0;
}